@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap");

html,
body {
  margin: 0;
  font-family: "Kanit", sans-serif;
  font-size: 2.4vh;
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
}

/* BTN STYLES */

button {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  border-width: 0;
  font-family: "Kanit", sans-serif;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #000000;
  padding: 0.4vh 1.6vh;
  transition: box-shadow 0.15s, transform 0.15s;
  font-size: 2vh;
  cursor: pointer;
}

button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}
.backToMenuBtn {
  transition: 0.3s;
}
.backToMenuBtn:hover {
  transform: scale(0.9);
}
.backToMenuBtn:active {
  transform: translateY(10px) scale(0.85);
}

/* black out  */
.blackOut {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

/* XXXXXXXXXXXXXX
 CHOOSE CHARACTER 
 XXXXXXXXXXXXXX*/

.chooseCharacterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url(./database/images/brick-background.jpg);
  background-size: contain;
  background-position: center;
  height: 92vh;
  padding: 4vh;
  font-size: 2vh;
  overflow: hidden;
}
.chooseCharacterContainer .selectionName {
  font-size: 4vh;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5vh 1vh;
  border-radius: 1vh;
}
.characterImage {
  height: 32vh;
}
.profesions {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 36%;
}
.oneProfesionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 8.32vw;
}
.changeProfesionBtnRight,
.changeProfesionBtnLeft {
  border-radius: 1vh;
  width: 5.2vw;
  position: absolute;
  top: 25vh;
  cursor: pointer;
  transition: 0.3s;
}
.changeProfesionBtnLeft:hover,
.changeProfesionBtnRight:hover {
  transform: scale(0.85);
}

.changeProfesionBtnLeft:active,
.changeProfesionBtnRight:active {
  transform: translateY(1vh) scale(0.85);
}

.changeProfesionBtnRight img,
.changeProfesionBtnLeft img {
  width: 5.2vw;
}
.changeProfesionBtnLeft {
  right: 1.04vw;
}
.changeProfesionBtnRight {
  left: 17.68vw;
}
.oneProfesion {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
  transition: 1s;
}
.characterLook {
  height: 35vh;
}
.profesionName {
  font-size: 3vh;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1vh;
  border-radius: 1vh;
}
.profesionSkills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5vh;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1vh;
  border-radius: 1vh;
  /* white-space: nowrap; */
}
.profesionSuperpower {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15.6vw;
  text-align: center;
}
.questionMark {
  height: 2vh;
  cursor: pointer;
  margin-left: 0.26vw;
}
.superpowerInfo {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transform: translateX(17.16vw);
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5vh;
  border-radius: 1vh;
}
.oneSkill {
  display: flex;
  align-items: center;
  gap: 0.25vw;
}
.oneSkill img {
  height: 4vh;
}
.finishChooseCharacter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1vh;
}
.inputNameContainer {
  display: flex;
  gap: 1vh;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5vh 1vh;
  border-radius: 1vh;
}

input[type="text"] {
  /* width: 20%; */
  padding: 0.4vh 0.8vh;
  margin: 0.8vh 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  font-size: 2vh;
}
.emptyDiv {
  height: 3.8vh;
}

/* XXXXXXXXXXXXXX
    GIVE SKILLS
 XXXXXXXXXXXXXX*/

.giveSkillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url(./database/images/brick-background.jpg);
  background-size: contain;
  background-position: center;
  height: 90vh;
  padding: 5vh;
}

.giveSkillsContainer .selectionName {
  font-size: 4vh;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5vh 1vh;
  border-radius: 1vh;
}
.userNameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}
.userName {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1vh;
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.currentSkills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5vh;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1vh;
  border-radius: 1vh;
}
.currentSkills .oneSkill {
  display: grid;
  grid-template-columns: 4vh 9vh 4vh 5vh;
  grid-template-rows: 6vh;
  align-items: center;
  gap: 1vh;
}
.oneSkill div,
.oneSkill img {
  place-self: center;
}

.giveSkillsContainer button {
  font-size: 2.4vh;
}
.giveSkillsContainer .emptyDiv {
  height: 4.3vh;
}

/* XXXXXXXXXXXXXX
      MENU
 XXXXXXXXXXXXXX*/

.menuContainer {
  display: flex;
  justify-content: center;
  background-image: url(./database/images/brick-background.jpg);
  background-size: contain;
  background-position: center;
  height: 90vh;
  padding: 5vh;
}
.menuContainer img {
  width: 30vh;
}
.menuContainer #menuLinkContainerUser {
  transform: translateY(-1.5vh);
}
.menuLinks {
  display: grid;
  grid-template-columns: 45vh 45vh;
  grid-template-rows: 45vh 45vh;
  place-items: center;
}
.menuLinkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.linkLabel {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 10px;
}
.menuLinkContainer a {
  transition: 0.3s;
}
.menuLinkContainer a:hover {
  transform: scale(0.9);
}

.menuLinkContainer a:active {
  transform: translateY(15px) scale(0.9);
}

/* XXXXXXXXXXXXXX
    TRAINING
 XXXXXXXXXXXXXX*/

.trainingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./database/images/brick-background.jpg);
  background-size: contain;
  background-position: center;
  height: 92vh;
  padding: 4vh;
  gap: 10px;
}
.trainingContainer .selectionName {
  font-size: 4vh;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 10px;
}
.topContent {
  display: grid;
  grid-template-columns: 22vw 22vw 22vw;
  grid-template-rows: 14vh;
  place-items: center;
}
.trainingContainer a img {
  width: 8vw;
}
.menuLinkContainer a {
  transition: 0.3s;
}
.menuLinkContainer a:hover {
  transform: scale(0.9);
}

.menuLinkContainer a:active {
  transform: translateY(30px) scale(0.9);
}
a {
  transition: 0.3s;
}
.menuLinkContainer a {
  transition: 0.3s;
}
.menuLinkContainer a:hover {
  transform: scale(0.9);
}

.menuLinkContainer a:active {
  transform: translateY(30px) scale(0.9);
}

.menuLinkContainer a {
  transition: 0.3s;
}
.menuLinkContainer a:hover {
  transform: scale(0.9);
}
.menuLinkContainer a:active {
  transform: translateY(30px) scale(0.9);
}

.moneyContainer {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 10px;
  gap: 5px;
  width: 10vw;
  justify-content: center;
}
.moneyContainer img {
  height: 4vh;
}

.currentSkills .moneyContainer {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 10px;
  gap: 5px;
  width: auto;
}

/* XXXXXXXXXXXXXX
      USER
 XXXXXXXXXXXXXX*/

.userContainer {
  display: grid;
  grid-template-columns: 32vw 32vw;
  grid-template-rows: 41vh 41vh;
  place-content: center;
  background-image: url(./database/images/brick-background.jpg);
  background-size: contain;
  background-position: center;
  height: 92vh;
  padding: 4vh;
  gap: 10px;
}

.opinionsAndSkills,
.itemsContainer {
  place-self: center;
}

.userDescriptionContainer {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userDescriptionContainer a {
  position: absolute;
  top: 5vh;
  left: 22vw;
}
.userDescriptionContainer a img {
  width: 8vw;
}
.userInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  gap: 1.6vw;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}
.userImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5vh;
}
.userImage img {
  max-height: 30vh;
}
.userImage .userName {
  background-color: rgba(255, 255, 255, 0);
}

.opinionsAndSkills {
  display: flex;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.userSkills img {
  height: 3vh;
}
.userSkills {
  display: flex;
  align-items: center;
  gap: 10px;
}
.itemsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  gap: 15px;
}

/* XXXXXXXXXXXXXX
    MY ITEMS
 XXXXXXXXXXXXXX*/

.myItemsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./database/images/brick-background.jpg);
  background-size: contain;
  background-position: center;
  height: 92vh;
  padding: 4vh;
  gap: 6vh;
}
.topContentMyItems {
  display: flex;
  align-items: center;
}
.topContentMyItems a {
  position: absolute;
  top: 5vh;
  left: 22vw;
}
.topContentMyItems .selectionName {
  font-size: 4vh;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 10px;
  position: relative;
  top: 5vh;
  margin-bottom: 5vh;
}
.topContentMyItems a img {
  width: 8vw;
}

/* XXXXXXXXXXXXXX
      SHOP
 XXXXXXXXXXXXXX*/

.shopContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./database/images/brick-background.jpg);
  background-size: contain;
  background-position: center;
  height: 92vh;
  padding: 4vh;
  gap: 20px;
}
.shopContainer .selectionName {
  font-size: 4vh;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 10px;
}

.shopContainer .topContent a img {
  width: 8vw;
}
.selectType {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shopContainer .topContent {
  display: grid;
  grid-template-columns: 22vw 22vw 22vw;
  grid-template-rows: 14vh;
  place-items: center;
}
.btnContainer {
  display: flex;
  gap: 15px;
}

.weaponImg {
  max-height: 40vh;
  max-width: 5vw;
}
.sliderContainer {
  display: flex;
  align-items: center;
  height: 63vh;
}
.overflowContainer {
  width: 50vw;
  overflow: hidden;
}
.offerContainer {
  display: flex;
  align-items: center;
  gap: 5vw;
  transition: 1s;
}
.slide {
  width: 8vw;
  position: relative;
  bottom: 7vh;
  transition: 0.3s;
  cursor: pointer;
}
.slide:hover {
  transform: scale(0.9);
}

.slide:active {
  transform: translateY(30px) scale(0.9);
}
.elementCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5vw;
  gap: 20px;
  position: relative;
  left: 2.5vw;
}
.itemNotificationContainer {
  position: absolute;
  width: 8vw;
  height: 100%;
  transform: translateY(-25vh);
  overflow: hidden;
}
.itemMoneyNotification,
.itemLevelNotification,
.itemOwnedNotification,
.itemBoughtNotification {
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1vh;
  border-radius: 10px;
  transition: transform 0.5s;
}
.itemBoughtNotification {
  transform: translateY(14vh);
}
.itemMoneyNotification {
  transform: translateY(25vh);
}
.itemLevelNotification,
.itemOwnedNotification {
  transform: translateY(20vh);
}
.itemInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  box-sizing: border-box;
  max-width: 10vw;
  padding: 10px;
  border-radius: 10px;
  white-space: nowrap;
  overflow: hidden;
}
.itemCost {
  display: flex;
  min-width: 100%;
  text-align: center;
  width: 5vw;
  transition: 1s;
}
.itemNotOwned {
  min-width: 100%;
}
.itemOwned {
  min-width: 100%;
}
/* XXXXXXXXXXXXXX
      ARENA
 XXXXXXXXXXXXXX*/

.arenaContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(./database/images/brick-background.jpg);
  background-size: contain;
  background-position: center;
  height: 92vh;
  padding: 4vh;
  gap: 20px;
}
.arenaContainer .selectionName {
  font-size: 4vh;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 10px;
  position: absolute;
  top: 9vh;
}
.arenaContainer .backToMenuBtn {
  position: absolute;
  top: 5vh;
  left: 22vw;
}
.arenaContainer .backToMenuBtn img {
  width: 8vw;
}
.fightContainer {
  display: grid;
  grid-template-columns: 25vw 25vw;
  grid-template-rows: 20vh;
  place-items: center;
}
.fightContainer img {
  width: 16vw;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40vh;
  justify-content: flex-end;
}
.linkContainer a {
  transition: 0.3s;
}
.linkContainer a:hover {
  transform: scale(0.9);
}
.linkContainer a:focus {
  transform: translateY(10px) scale(0.9);
}
.tournamentLink a:hover {
  transform: scale(1);
}
.tournamentLink a:focus {
  transform: translateY(0);
}
.tournamentInfo {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 10px;
  position: absolute;
  width: 11vw;
  text-align: center;
  top: 44vh;
  left: 71vw;
}
/* XXXXXXXXXXXXXX
  fight place
 XXXXXXXXXXXXXX*/

.fightPlaceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-image: url(./database/images/fight-background.jpg); */
  background-size: cover;
  background-position: center;
  height: 92vh;
  padding: 4vh;
  gap: 20px;
}
.duringFight {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 11vw;
  width: 100%;
}
.characterFightImg {
  height: 40vh;
}
.userFightContainer,
.oponentDescriptionContainer {
  width: 34vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.actionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
.attackButtonsContainer {
  display: flex;
}
.defenseButtons,
.attackButtons {
  width: 5vw;
}
.attackButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.actionsContainer img {
  align-self: flex-end;
}
.attackButtons img {
  align-self: auto;
}
.defenseButtons img,
.attackButtons img {
  height: 10vh;
  cursor: pointer;
}

.actionButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.actionButton img:hover {
  transform: scale(0.9);
  transition: 0.3s;
}
.actionButton img:active {
  transform: translateY(10px) scale(0.9);
}
.actionButton div {
  transform: translateY(-5px);
  text-align: center;
  line-height: 1.1;
}
.superpowerButton {
  display: flex;
  align-items: center;
}
.superpowerUsed {
  position: absolute;
  transform: translateX(6vw);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  opacity: 0;
  visibility: hidden;
}
.menuLinkContainer a {
  transition: 0.3s;
}
.userSkillsContainer {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 10px;
  width: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.healthContainer {
  display: flex;
  gap: 10px;
}
.parametr {
  display: flex;
  align-items: center;
  gap: 5px;
}
.parametr img {
  height: 3vh;
}
.userDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userDescription .skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.oponentImg {
  height: 43vh;
}
/* XXXXXXXXXXXXXX
  start fight
 XXXXXXXXXXXXXX*/

.startFightContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}
.fightStart {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  transition: 0.4s ease-in;
  transform: scale(5);
  opacity: 0;
}
.vs {
  height: 70vh;
}
.namesContainer {
  position: absolute;
  display: flex;
  align-items: center;
  top: 24.5vh;
  gap: 43vh;
}
.name1,
.name2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vh;
  width: 37vh;
  height: 10vh;
  text-align: center;
}
.timeToStartFight {
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1vh;
  border-radius: 10px;
  font-size: 6vh;
  transition: 1s ease-in;
  opacity: 0;
}

/* XXXXXXXXXXXXXX
  finish fight
 XXXXXXXXXXXXXX*/

.finishFightContainer {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  transition: opacity 2s;
  z-index: 1;
  overflow: hidden;
}

.fightFinished {
  position: absolute;
  z-index: 1;
  text-align: center;
  top: 16vh;
  left: 35vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}
.fightFinished a button {
  background-color: #fff;
  margin-top: 2vh;
  font-size: 3vh;
}

.rewardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1vh;
  border-radius: 10px;
  width: 13vw;
  transform: translateY(40vh);
  transition: 1s cubic-bezier(0.25, 0.25, 0.365, 1.315);
}
.rewards {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}
.rewards div {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;
}
.rewards img {
  height: 3vh;
  padding-left: 5px;
}
.nextStepBtn {
  transform: translateY(40vh);
  transition: 1s cubic-bezier(0.25, 0.25, 0.365, 1.315);
}

.endFightImg {
  visibility: hidden;
  opacity: 0;
  height: 50vh;
  transform: scale(3);
}
/* XXXXXXXXXXXXXX
  animations
 XXXXXXXXXXXXXX*/

.animationsContainer {
  position: absolute;
  top: 0vh;
  left: 0vw;
}

.defenseAnimation {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 15vw;
  top: 32vh;
  left: 20vw;
}
@keyframes defense {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}
.attackAnimation {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 6vw;
  top: 20vh;
  left: 53vw;
  transform: rotate(0deg);
}
@keyframes attack {
  from {
    opacity: 0;
    visibility: hidden;
    transform: rotate(0deg);
  }
  1% {
    visibility: visible;
  }
  20% {
    opacity: 1;
    /* transform: rotate(-15deg); */
  }
  60% {
    opacity: 1;
  }
  99% {
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
    transform: rotate(50deg) translate(12vw);
  }
}

.dmgAnimation {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 8vw;
  top: 32vh;
  left: 67vw;
  font-size: 8vh;
  color: rgb(218, 12, 12);
  text-shadow: #520000 2px 2px;
  text-align: center;
}

@keyframes dmg {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(0vh);
  }
  1% {
    visibility: visible;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
    transform: translateY(5vh);
  }
}
.oponentBlockAnimation {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 8vw;
  top: 34vh;
  left: 68vw;
}
@keyframes block {
  from {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

.superpowerAnimation {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 17vw;
  top: 37vh;
  left: 19vw;
  text-align: center;
  font-size: 4vh;
  color: rgb(28, 255, 28);
  text-shadow: rgb(5, 75, 5) 2px 2px;
}

@keyframes superpower {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(0vh);
  }
  1% {
    visibility: visible;
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  99% {
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
    transform: translateY(7vh);
  }
}
.denyAnimation {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 17vw;
  top: 37vh;
  left: 19vw;
  text-align: center;
  font-size: 4vh;
  color: rgb(255, 28, 28);
  text-shadow: rgb(75, 0, 0) 2px 2px;
}

.deadAnimation {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 15vw;
  top: 32vh;
  left: 20vw;
  transform: scale(3);
}

@keyframes dead {
  from {
    opacity: 0;
    visibility: hidden;
    transform: scale(3);
  }
  1% {
    visibility: visible;
  }
  50% {
    opacity: 1;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* oponent move animations */

.oDefenseAnimation {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 15vw;
  top: 32vh;
  left: 65vw;
}
@keyframes oDefense {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
  }
  50% {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.oAttackAnimation {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 6vw;
  top: 20vh;
  left: 41vw;
  transform: rotate(0deg);
}
@keyframes oAttack {
  from {
    opacity: 0;
    visibility: hidden;
    transform: rotate(0deg);
  }
  1% {
    visibility: visible;
  }
  20% {
    opacity: 1;
    /* transform: rotate(-15deg); */
  }
  60% {
    opacity: 1;
  }
  99% {
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
    transform: rotate(-50deg) translate(-12vw);
  }
}
.oDmgAnimation {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 8vw;
  top: 32vh;
  left: 23vw;
  font-size: 8vh;
  color: rgb(218, 12, 12);
  text-shadow: #520000 2px 2px;
  text-align: center;
}

@keyframes oDmg {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(0vh);
  }
  1% {
    visibility: visible;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
    transform: translateY(5vh);
  }
}
.oUserBlockAnimation {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 8vw;
  top: 34vh;
  left: 23.5vw;
}
@keyframes oBlock {
  from {
    opacity: 0;
    visibility: hidden;
  }
  1% {
    visibility: visible;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
.oSuperpowerAnimation {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 17vw;
  top: 37vh;
  left: 63vw;
  text-align: center;
  font-size: 4vh;
  color: rgb(28, 255, 28);
  text-shadow: rgb(5, 75, 5) 2px 2px;
}

@keyframes oSuperpower {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(0vh);
  }
  1% {
    visibility: visible;
  }
  20% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  99% {
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
    transform: translateY(7vh);
  }
}

.oDeadAnimation {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  width: 15vw;
  top: 32vh;
  left: 65vw;
  transform: scale(3);
}

@keyframes oDead {
  from {
    opacity: 0;
    visibility: hidden;
    transform: scale(3);
  }
  1% {
    visibility: visible;
  }
  50% {
    opacity: 1;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
