@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap");

html,
body {
  margin: 0;
  font-family: "Kanit", sans-serif;
  font-size: 24px;
}

/* BTN STYLES */

button {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 5px;
  border-width: 0;
  font-family: "Kanit", sans-serif;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #000000;
  padding: 4px 16px;
  transition: box-shadow 0.15s, transform 0.15s;
  font-size: 20px;
  cursor: pointer;
}

button:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

/* XXXXXXXXXXXXXX
 CHOOSE CHARACTER 
 XXXXXXXXXXXXXX*/

.chooseCharacterContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url(./database/images/brick-background.jpg);
  background-size: contain;
  background-position: center;
  height: 92vh;
  padding: 4vh;
  font-size: 20px;
}
.chooseCharacterContainer .selectionName {
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 10px;
}
.profesions {
  display: flex;
  align-items: center;
  position: relative;
  bottom: 36%;
}
.oneProfesionContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 160px;
}
.changeProfesionBtnRight,
.changeProfesionBtnLeft {
  border-radius: 10px;
  width: 100px;
  position: absolute;
  top: 250px;
  cursor: pointer;
  transition: 0.3s;
}
.changeProfesionBtnLeft:hover,
.changeProfesionBtnRight:hover {
  transform: scale(0.85);
}

.changeProfesionBtnLeft:active,
.changeProfesionBtnRight:active {
  transform: translateY(10px) scale(0.85);
}

.changeProfesionBtnRight img,
.changeProfesionBtnLeft img {
  width: 100px;
}
.changeProfesionBtnLeft {
  right: 20px;
}
.changeProfesionBtnRight {
  left: 340px;
}
.oneProfesion {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  transition: 1s;
  width: 320px;
}
.oneProfesion img {
  height: 350px;
}
.profesionName {
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 10px;
}
.profesionSkills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 10px;
}
.oneSkill {
  display: flex;
  align-items: center;
  gap: 5px;
}
.oneSkill img {
  height: 40px;
}
.finishChooseCharacter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.inputNameContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 10px;
}
.inputName {
  /* background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 10px; */
}
input[type="text"] {
  /* width: 20%; */
  padding: 4px 8px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
}
.emptyDiv {
  height: 38px;
}

/* XXXXXXXXXXXXXX
    GIVE SKILLS
 XXXXXXXXXXXXXX*/

.giveSkillsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-image: url(./database/images/brick-background.jpg);
  background-size: contain;
  background-position: center;
  height: 90vh;
  padding: 5vh;
}

.giveSkillsContainer .selectionName {
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 10px;
}
.userNameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.userName {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.currentSkills {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 10px;
}
.currentSkills .oneSkill {
  display: grid;
  grid-template-columns: 40px 90px 40px 50px;
  grid-template-rows: 60px;
  align-items: center;
  gap: 10px;
}
.oneSkill div,
.oneSkill img {
  place-self: center;
}

.giveSkillsContainer button {
  font-size: 24px;
}
.giveSkillsContainer .emptyDiv {
  height: 43px;
}

/* XXXXXXXXXXXXXX
      MENU
 XXXXXXXXXXXXXX*/

.menuContainer {
  display: flex;
  justify-content: center;
  background-image: url(./database/images/brick-background.jpg);
  background-size: contain;
  background-position: center;
  height: 90vh;
  padding: 5vh;
}
.menuContainer img {
  width: 16vw;
}
.menuContainer #menuLinkContainerUser {
  position: relative;
  bottom: 15px;
}
.menuLinks {
  display: grid;
  grid-template-columns: 45vh 45vh;
  grid-template-rows: 45vh 45vh;
  place-items: center;
}
.menuLinkContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.linkLabel {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 10px;
}
.menuLinkContainer a {
  transition: 0.3s;
}
.menuLinkContainer a:hover {
  transform: scale(0.9);
}

.menuLinkContainer a:active {
  transform: translateY(30px) scale(0.9);
}

/* XXXXXXXXXXXXXX
    TRAINING
 XXXXXXXXXXXXXX*/

.trainingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./database/images/brick-background.jpg);
  background-size: contain;
  background-position: center;
  height: 92vh;
  padding: 4vh;
  gap: 10px;
}
.trainingContainer .selectionName {
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 10px;
}
.topContent {
  display: flex;
  align-items: center;
  gap: 12vw;
}
.trainingContainer a img {
  width: 8vw;
}
.menuLinkContainer a {
  transition: 0.3s;
}
.menuLinkContainer a:hover {
  transform: scale(0.9);
}

.menuLinkContainer a:active {
  transform: translateY(30px) scale(0.9);
}
a {
  transition: 0.3s;
}
.menuLinkContainer a {
  transition: 0.3s;
}
.menuLinkContainer a:hover {
  transform: scale(0.9);
}

.menuLinkContainer a:active {
  transform: translateY(30px) scale(0.9);
}
a:hover {
  transform: scale(0.9);
}
.menuLinkContainer a {
  transition: 0.3s;
}
.menuLinkContainer a:hover {
  transform: scale(0.9);
}
.menuLinkContainer a:active {
  transform: translateY(30px) scale(0.9);
}
a:active {
  transform: translateY(30px) scale(0.9);
}

.moneyContainer {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 10px;
  gap: 5px;
}
.moneyContainer img {
  width: 40px;
}

.currentSkills .moneyContainer {
  background-color: rgba(255, 255, 255, 0);
}

/* XXXXXXXXXXXXXX
      USER
 XXXXXXXXXXXXXX*/

.userContainer {
  display: grid;
  grid-template-columns: 32vw 32vw;
  grid-template-rows: 41vh 41vh;
  place-content: center;
  background-image: url(./database/images/brick-background.jpg);
  background-size: contain;
  background-position: center;
  height: 92vh;
  padding: 4vh;
  gap: 10px;
}

.opinionsAndSkills,
.itemsContainer {
  place-self: center;
}

.userDescriptionContainer {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.userDescriptionContainer a {
  position: absolute;
  align-self: flex-start;
  top: 5vh;
  left: 22vw;
}
.userDescriptionContainer a img {
  width: 8vw;
}
.userInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
  gap: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}
.userImage {
  /* height: 300px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.userImage .userName {
  background-color: rgba(255, 255, 255, 0);
}

.opinionsAndSkills {
  display: flex;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

.userSkills img {
  height: 30px;
}
.userSkills {
  display: flex;
  align-items: center;
  gap: 10px;
}
.itemsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  gap: 15px;
}

/* XXXXXXXXXXXXXX
    MY ITEMS
 XXXXXXXXXXXXXX*/

.myItemsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./database/images/brick-background.jpg);
  background-size: contain;
  background-position: center;
  height: 92vh;
  padding: 4vh;
  gap: 60px;
}
.topContentMyItems {
  display: flex;
  align-items: center;
}
.topContentMyItems a {
  position: absolute;
  top: 5vh;
  left: 22vw;
}
.topContentMyItems .selectionName {
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 10px;
  position: relative;
  top: 5vh;
  margin-bottom: 5vh;
}
.topContentMyItems a img {
  width: 8vw;
}

/* XXXXXXXXXXXXXX
      SHOP
 XXXXXXXXXXXXXX*/

.shopContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./database/images/brick-background.jpg);
  background-size: contain;
  background-position: center;
  height: 92vh;
  padding: 4vh;
  gap: 20px;
}
.shopContainer .selectionName {
  font-size: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 10px;
}

.shopContainer .topContent a img {
  width: 8vw;
}

.shopContainer .topContent {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 12vw;
}
.btnContainer {
  display: flex;
  gap: 15px;
}

.weaponImg {
  max-height: 400px;
  max-width: 5vw;
}
.sliderContainer {
  display: flex;
  align-items: center;
}
.overflowContainer {
  width: 50vw;
  overflow: hidden;
}
.offerContainer {
  display: flex;
  align-items: center;
  gap: 5vw;
  transition: 1s;
}
.slide {
  width: 8vw;
  position: relative;
  bottom: 7vh;
}
.slide {
  transition: 0.3s;
}
.slide:hover {
  transform: scale(0.9);
}

.slide:active {
  transform: translateY(30px) scale(0.9);
}
.elementCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 5vw;
  gap: 20px;
  position: relative;
  left: 2.5vw;
}
.itemInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 10px;
  white-space: nowrap;
}
